@using WebsiteBuilder.IRF.Infrastructure.Tenancy
@model IReadOnlyList<NavItem>

<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

        <a class="navbar-brand" href="/">
            WebsiteBuilder.IRF
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="mainNavbar">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var item in Model)
                {
                    var isActive = Context.Request.Path.Equals(item.Url, StringComparison.OrdinalIgnoreCase);

                    <li class="nav-item">
                        <a class="nav-link text-dark @(isActive ? "active" : "")"
                           href="@item.Url">
                            @item.Title
                        </a>
                    </li>
                }
            </ul>
        </div>

    </div>
</nav>
